## Ignore Visual Studio / .NET Core build artifact directories
[Db]in/
[Oo]bj/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa]rm/
[Aa]rm64/

# Visual Studio cache, preferences, and user files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstate

# Rider and Resharper
.idea/
*.sln.iml
_ReSharper*/

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json

# Local configurations / User secrets
appsettings.local.json
appsettings.*.local.json
secrets.json
.microsoft/usersecrets/

# Local history, crash dumps, and OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
